/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  /* background: #fafafa; */

}
h1, h2, h3, h4, ul, li, a, p, input, label, div {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
header{
  display: flex;
  align-items: center;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
